.cards {
  border: solid 1px #e5e5e5;
  min-height: 135px;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding: 10px;
}

.cards-item {
  margin-bottom: 10px;
}

.container--small {
  padding-top: 40px;
  padding-bottom: 60px;
  width: 600px;
  margin: 0 auto;
}
